  _____             _     _ ______
 |  __ \           (_)   | |  ____|
 | |__) |__ _ _ __  _  __| | |__ ___  _ __ __ _  ___
 |  _  // _` | '_ \| |/ _` |  __/ _ \| '__/ _` |/ _ \
 | | \ \ (_| | |_) | | (_| | | | (_) | | | (_| |  __/
 |_|  \_\__,_| .__/|_|\__,_|_|  \___/|_|  \__, |\___|
             | |                           __/ |
             |_|                          |___/

--------------------------------------------------------------------------------
| Version: {{ .Version }}
| Package: {{ .Package }}
| AdminUserName: {{ .AdminUserName }}
| AminPassword: {{ .AminPassword }}
| ARCH: {{ .ARCH }}
| Compiler: {{ .Compiler }}
| Environment: {{ .Environment }}
| Port: {{ .Port }}
| Domain: {{ .Domain }}
--------------------------------------------------------------------------------