<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}RapidForge{{ end }}</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  <link
    rel="stylesheet"
    media="(prefers-color-scheme:light)"
    href="/static/css/shoelace.2.16.0.light.css"
  />
  <link
    rel="stylesheet"
    media="(prefers-color-scheme:dark)"
    href="/static/css/shoelace.2.16.0.dark.css"
    onload="document.documentElement.classList.add('sl-theme-dark');"
  />
    <link rel="stylesheet" href="/static/css/bulma.1.0.0.min.css">

    <script type="module" src="/static/javascript/shoelace-autoloader.2.16.0.js"></script>
    <script type="module" src="/static/javascript/components/alert/alert.js"></script>
  </head>
  <body hx-ext="response-targets">
   <sl-dialog label="Feedback" id="feedbackDialog">
    <div id="feedbackResponse" class="mb-2"></div>
     <sl-textarea name="feedback" id="feedbackComment" help-text="Please tell us what you think. Let us know if you encounter with any issues"> </sl-textarea>
    <sl-button slot="footer" variant="primary"
        hx-include="#feedbackComment"
        hx-target="#feedbackResponse"
        hx-post="/feedback">
        Send
   </sl-dialog>

    {{ template "navbar.html" . }}
    <div id="content" class="content">
      {{ template "content.html" . }}
    </div>
  <script src="/static/javascript/htmx.2.0.1.js"></script>
  <script src="/static/javascript/htmx-response-targets.2.0.0.js"></script>
  </body>
  <script>
  function reloadEntities() {
     // if the user is on the blocks page, we will trigger div load event
    if (window.location.href.endsWith("blocks")) {
      const blockList = document.getElementById('blockList');
      if (blockList) {
        htmx.ajax('GET', '/blocks/list',  { target: blockList });
      }
    } else {
      const radioGroup = document.getElementById('entityRadioGroup');
      const selectedButton = radioGroup.querySelector('sl-radio-button[checked]');
      if (selectedButton) {
        selectedButton.click();
      }
    }
  }
</script>
</html>