{{ define "title" }}{{.block.Name}}{{end }} {{define "content.html"}} {{
template "editableTitle" .editableComponentParams }}

<sl-tab-group>
  <sl-tab slot="nav" panel="entities">Entities</sl-tab>
  <sl-tab slot="nav" panel="settings">Settings</sl-tab>

  <sl-tab-panel name="entities">
    <div class="m-2">
      <div class="columns is-align-items-end">
        <div class="column">
          <sl-input label="Search" type="search"></sl-input>
        </div>
        <div class="column">
          <sl-dropdown>
            <sl-button slot="trigger" variant="primary" caret>Create</sl-button>
            <sl-menu>
                <sl-menu-item>
                  <button hx-post="/webhooks/create" hx-vals='{"blockId": "{{.block.ID}}" }'> Webhook</button>
                </sl-menu-item>
              <sl-menu-item value="page">Page</sl-menu-item>
              <sl-menu-item value="periodicTasks">
                <button hx-post="/periodic_tasks/create" hx-vals='{"blockId": "{{.block.ID}}" }'> Periodic Tasks</button>
              </sl-menu-item>
            </sl-menu>
          </sl-dropdown>
        </div>
      </div>
      <div class="is-flex is-flex-direction-column m-1">
        <div class="mb-2">
        <sl-radio-group
          label="Filter Entities By Type"
          name="a"
          value="webhook"
        >
          <sl-radio-button value="all" hx-trigger="click" hx-get="/block/{{.block.ID}}/entities/all" hx-target="#entities">All</sl-radio-button>
          <sl-radio-button value="webhook" hx-trigger="click,load" hx-get="/block/{{.block.ID}}/entities/webhooks" hx-target="#entities">WebHooks</sl-radio-button>
          <sl-radio-button value="page" hx-trigger="click" hx-get="/block/{{.block.ID}}/entities/pages" hx-target="#entities">Pages</sl-radio-button>
          <sl-radio-button value="perdiodicTask" hx-trigger="click" hx-get="/block/{{.block.ID}}/entities/periodic_tasks" hx-target="#entities">Periodic Tasks</sl-radio-button>
        </sl-radio-group>
        <sl-divider></sl-divider>
        </div>

        <div class="is-flex is-flex-direction-column">
          <div id="entities"></div>
        </div>

      </div>
    </div>
  </sl-tab-panel>
    <sl-tab-panel name="settings">
    <div id="alertBoxSettings"></div>
    <form hx-patch="/blocks/{{.block.ID}}" hx-include="[name]" hx-target="#alertBoxSettings">
      <div class="is-flex is-justify-content-space-between">
        <div
          class="is-flex is-flex-direction-row is-align-items-flex-center m-2"
        >
          <div class="ml-2 pt-2 is-align-self-center is-flex">
            <sl-switch id="mySwitch" name="active" value="1"
              {{if .block.Active }}checked{{end}}>Enable/Disable</sl-switch>
          </div>
        </div>

        <div class="ml-10 pt-2 is-align-self-center is-flex">
          <sl-button type="submit" variant="primary">Save</sl-button>
        </div>
      </div>

      <div class="m-2">
        <sl-details summary="Description">
          <sl-textarea
            name="description"
            value={{defaultString .block.Description "No description"}}
          ></sl-textarea>
        </sl-details>
      </div>
    </form>
  </sl-tab-panel>
</sl-tab-group>
{{end}}
