{{ define "title" }}{{.block.Name}}{{end }} {{define "content.html"}}

<div class="is-flex is-align-items-baseline">
<sl-icon-button name="arrow-left"  id="backButton" label="Blocks" href="/blocks"></sl-icon-button>
{{ template "editableTitle" .editableComponentParams }}
</div>

<sl-tab-group>
  <sl-tab slot="nav" panel="entities">Entities</sl-tab>
  <sl-tab slot="nav" panel="settings">Settings</sl-tab>
  <sl-tab slot="nav" panel="eventLogs" hx-get="/events/{{.Type}}/{{.block.ID}}" hx-target="#eventList" hx-trigger="click">Event Logs</sl-tab>

  <sl-tab-panel name="entities">
    <div class="m-2">
      <div class="columns is-align-items-end">
        <div class="column">
          <sl-input label="Search"
            type="search"
            name="q"
            placeholder="By name or description"
            hx-get="/blocks/{{.block.ID}}/entities/search"
            hx-target="#entities"
            hx-trigger="keyup changed delay:500ms"
            hx-include="#entityRadioGroup"></sl-input>
        </div>
        <div class="column">
          <sl-dropdown>
            <sl-button slot="trigger" variant="primary" caret>Create</sl-button>
            <sl-menu>
                <sl-menu-item hx-post="/webhooks/create" hx-vals='{"blockId": "{{.block.ID}}" }' hx-trigger="click">
                Webhook
                </sl-menu-item>
              <sl-menu-item hx-post="/pages/create" hx-vals='{"blockId": "{{.block.ID}}" }' hx-trigger="click">
                Page
              </sl-menu-item>
              <sl-menu-item hx-post="/periodic_tasks/create" hx-vals='{"blockId": "{{.block.ID}}" }' hx-trigger="click">
                Periodic Tasks
              </sl-menu-item>
            </sl-menu>
          </sl-dropdown>
        </div>
      </div>
      <div class="is-flex is-flex-direction-column m-1">
        <div class="mb-2">
        <sl-radio-group
          label="Filter Entities By Type"
          name="entityType"
          id="entityRadioGroup"
          value="webhooks"
        >
          <sl-radio-button id="entities-all" value="all" hx-trigger="click" hx-get="/blocks/{{.block.ID}}/entities/all" hx-target="#entities">All</sl-radio-button>
          <sl-radio-button id="entities-webhooks" value="webhooks" hx-trigger="click,load" hx-get="/blocks/{{.block.ID}}/entities/webhooks" hx-target="#entities">WebHooks</sl-radio-button>
          <sl-radio-button id="entities-pages" value="pages" hx-trigger="click" hx-get="/blocks/{{.block.ID}}/entities/pages" hx-target="#entities">Pages</sl-radio-button>
          <sl-radio-button id="entities-periodic_tasks" value="periodic_tasks" hx-trigger="click" hx-get="/blocks/{{.block.ID}}/entities/periodic_tasks" hx-target="#entities">Periodic Tasks</sl-radio-button>
        </sl-radio-group>
        <sl-divider></sl-divider>
        </div>

        <div class="is-flex is-flex-direction-column">
          <div id="entities"></div>
        </div>

      </div>
    </div>
  </sl-tab-panel>
    <sl-tab-panel name="settings">
    <div id="alertBoxSettings"></div>
    <!--for delete message-->
    <div id="alertBox" class="mb-2"></div>
    <form hx-patch="/blocks/{{.block.ID}}" hx-include="[name]" hx-target="#alertBoxSettings">
      <div class="is-flex is-justify-content-space-between">
        <div
          class="is-flex is-flex-direction-row is-align-items-flex-center m-2"
        >

          <div class="ml-2 pt-2 is-align-self-center is-flex">
            <sl-radio-group name="active" value={{.block.Active}}>
                <sl-radio-button value=false>Disabled</sl-radio-button>
                <sl-radio-button value=true>Enabled</sl-radio-button>
            </sl-radio-group>
          </div>
        </div>

        <div class="ml-10 pt-2 is-align-self-center is-flex">
          <sl-button type="submit" variant="primary">Save</sl-button>
        </div>
      </div>

      <div class="m-2">
        <sl-details summary="Description">
          <sl-textarea
            name="description"
            value={{defaultString .block.Description "No description"}}
          ></sl-textarea>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Environment Variables">
          <sl-textarea
            name="env"
            label="Write environments variable here to make them accessible in all entities"
            value={{defaultString .block.EnvVariables "key=value"}}
          ></sl-textarea>
        </sl-details>
      </div>
    </form>
  </sl-tab-panel>
  <sl-tab-panel name="eventLogs">
    <div class="is-flex is-flex-direction-column" id="eventList"></div>
  </sl-tab-panel>
</sl-tab-group>
{{end}}
