<div  style="overflow-y: auto; height: 60vh;">
{{range $index, $credential := .Credentials}}
<sl-details id={{$index}} class="mb-2">
  <div slot="summary" style="width: 100%;">
    <div class="is-flex is-justify-content-space-between">
      <div class="is-flex is-align-items-center">{{ defaultString ($credential.Name) "No Name" }}</div>
      <div class="is-flex is-align-items-center">
        <sl-badge variant="primary">{{$credential.Type}}</sl-badge>
      </div>
    </div>
  </div>

  <div class="is-flex is-flex-direction-column">
    <div id="credentialUpdateAlert-{{$index}}">ddddd</div>
    <form id="formCredential"
          hx-include="#formCredential *[name]"
          hx-target="#credentialUpdateAlert-{{$index}}"
          hx-target-error="#credentialUpdateAlert-{{$index}}"
          hx-swap="beforeend">
      {{if eq $credential.Type "oauth"}}
      <div>
       <sl-button hx-get="/credentials/refresh/{{$credential.ID}}" hx-target-error="#credentialUpdateAlert-{{$index}}" hx-swap="innerHTML" type="button" size="small" variant="success">Refresh Token</sl-button>
      </div>
      {{end}}

      <div>
        <sl-input label="Name" name="name" value="{{$credential.Name}}" size="small"></sl-input>
      </div>

      {{if eq $credential.Type "text"}}
      <div>
        <sl-input label="Password" type="password" name="value" size="small" password-toggle></sl-input>
      </div>
      {{end}}

      {{if eq $credential.Type "oauth"}}
      <div>
        <sl-input label="Client ID" type="text" name="client_id" value="{{$credential.ClientID.String}}" size="small"></sl-input>
      </div>
      <div>
        <sl-input label="Client Secret" type="password" name="client_secret" size="small" password-toggle></sl-input>
      </div>
      <div>
      <sl-input name="scope" label="scope" size="small"></sl-input>
      </div>
      <div>
        <sl-input name="oauth_url"
                     size="small"
                     label="OAuth authorization request URL"
                     value={{$credential.OauthUrl.String}}
                     help-text="The URL to which authorization request will be done"
                     required></sl-input>
      </div>
      <div class="mt-2">
        <sl-input name="token_url" size="small"
                 label="OAuth token URL"
                 help-text="The URL to which token request will be done"
                 size="small" value={{$credential.OauthTokenUrl.String}} required></sl-input>
      </div>
      {{end}}
    <div class="mt-2">
      <sl-button id="credUpdate"
                 hx-patch="/credentials/{{$credential.ID}}"
                 hx-include="#formCredential *[name]"
                 hx-target-error="#credentialUpdateAlert-{{$index}}"
                 hx-target="#credentialUpdateAlert-{{$index}}"
                 hx-swap="innerHTML"
                 size="small" variant="primary">Update</sl-button>
      <sl-button size="small"
                id="deleteCredential"
                variant="danger"
                hx-confirm="Are you sure you want to delete {{$credential.Name}}?"
                hx-delete="/credentials/{{$credential.ID}}"
                hx-target="#credentialUpdateAlert-{{$index}}" hx-swap="innerHTML">Delete</sl-button>
    </div>
    </form>
  </div>
</sl-details>
{{end}}
</div>