{{ define "title" }}{{.block.Name}}{{end }} {{define "content.html"}}

<div class="is-flex is-align-items-baseline">
<sl-icon-button name="arrow-left" label="Blocks" href="/blocks"></sl-icon-button>
<h1 class="m-0"> Credentials </h1>
</div>

<sl-tab-group>
  <sl-tab slot="nav" panel="entities">Entities</sl-tab>
  <sl-tab-panel name="entities">
    <div class="m-2">
      <div class="columns is-align-items-end">
        <div class="column">
          <sl-input label="Search"
                    type="search"
                    name="q"
                    placeholder="Search credential by name"
                    hx-get="/credentials/search"
                    hx-target="#credentialList"
                    hx-trigger="keyup changed delay:500ms"></sl-input>
        </div>
        <div class="column">
          <sl-dropdown>
            <sl-button slot="trigger" variant="primary" caret>Create</sl-button>
            <sl-menu>
                <sl-menu-item id="textCredential" onclick="showDialog('textCredentialDialog')" value="text">
                  Text
                </sl-menu-item>
              <sl-menu-item value="oauth" id="oauthCredential" onclick="showDialog('oauthCredentialDialog')">
                  OAuth
              </sl-menu-item>
            </sl-menu>
          </sl-dropdown>
        </div>
      </div>
      <div class="is-flex is-flex-direction-column m-1">
        <div id="alertList"></div>
        <div class="is-flex is-flex-direction-column">
          <div id="credentialList" hx-get="/credentials/list" hx-trigger="load"   hx-target="this" hx-target-error="#alertList"></div>
        </div>
      </div>
    </div>
  </sl-tab-panel>
</sl-tab-group>

<sl-dialog label="Text Credential" id="textCredentialDialog">
  <div id="alertText" class="mb-2"></div>
  <form hx-post="/credentials/create" id="formText" hx-include="#formText *[name]" hx-target-error="#alertText" hx-swap="beforeend">
    <div class="field">
      <sl-input size="small" label="Name" name="name" required></sl-input>
    </div>
    <div class="field">
      <sl-input size="small" label="Password" name="value" required type="password" password-toggle ></sl-input>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <sl-button type="submit" size="small" variant="primary">Save</sl-button>
      </div>
    <sl-visually-hidden>
    <sl-input name="type" value="text"></sl-input>
    </sl-visually-hidden>
    </div>
  </form>
</sl-dialog>

<sl-dialog label="Oauth Credential" id="oauthCredentialDialog">
  <div id="alertOauth" class="mb-2"></div>
  <form hx-post="/credentials/create" id="formOauth" hx-include="#formOauth [name]" hx-swap="beforeend"  hx-target-error="#alertOauth">
    <div class="is-flex is-align-items-center">
      <sl-input id="callbackUrl" size="small" label="Callback URL" readonly value={{index . "callbackUrl"}} style="width: 90%;" ></sl-input>
      <sl-copy-button from="callbackUrl.value" class="ml-1"></sl-copy-button>
    </div>
    <div>
      <sl-input name="name" label="Name" size="small" required></sl-input>
    </div>
    <div>
      <sl-input name="client_id" label="Client ID" size="small" required></sl-input>
    </div>
    <div>
      <sl-input name="client_secret" label="Client Secret" size="small" type="password" required></sl-input>
    </div>
    <div>
      <sl-input name="scope" label="scope" size="small"></sl-input>
    </div>
    <div>
      <sl-input name="oauth_url"
                   size="small"
                   label="OAuth authorization request URL"
                   help-text="The URL to which authorization request will be done"
                   required></sl-input>
    </div>
    <div class="mt-2">
      <sl-input name="token_url" size="small"
               label="OAuth token URL"
               help-text="The URL to which token request will be done"
               size="small" required></sl-input>
    </div>
    <div>
    <sl-visually-hidden>
    <sl-input name="type" value="oauth"></sl-input>
    </sl-visually-hidden>
    </div>
    <div>
      <sl-button type="submit" size="small" variant="primary">Save</sl-button>
    </div>
  </form>
</sl-dialog>

<script>
  function showDialog(id) {
    const dialog = document.getElementById(id);
    dialog.show();
  }

  function hideDialog(id) {
    const dialog = document.getElementById(id);

    if (dialog) {
      dialog.hide();
    }
  }

  const triggerSourceIds = ['formText', 'formOauth'];
  document.body.addEventListener('htmx:afterRequest', function(evt) {
    const sourceId = evt.detail.elt.id;
    if (triggerSourceIds.includes(sourceId) && evt.detail.xhr.status === 200) {
      hideDialog('textCredentialDialog');
      hideDialog('oauthCredentialDialog');
      htmx.ajax('GET', '/credentials/list',  { target: '#credentialList' });
    } else if (sourceId === 'deleteCredential' && evt.detail.xhr.status === 200) {
      htmx.ajax('GET', '/credentials/list',  { target: '#credentialList' });
    }
  });
</script>
{{end}}

