{{define "editableTitle"}}
<div>
    <div>
         <sl-alert  id="toastBox" variant="primary"> </sl-alert>
         <div id="renameErr"></div>
        <div
            id="title-container"
            class="is-flex is-hidden is-flex-direction-row is-align-items-baseline"
        >
            <div>
                <h1><div id="blockTitle">{{defaultString (index . "Url") (index . "Field")}}</div></h1>
            </div>
            <div onclick="hideShow()" class="ml-2" style="font-size: 20px;">
                <sl-icon name="pencil-square"></sl-icon>
            </div>
        </div>
        <div
            id="input-container"
            class="is-hidden is-flex-direction-row is-align-items-stretch"
        >
            <sl-input
                id="titleInput"
                nam="name"
                class="mr-2"
                value="{{index . "Field"}}"
            ></sl-input>
            <sl-button
                class="mr-2"
                id="saveNameButton"
                hx-patch="/rename/{{index . "Type"}}/{{index . "ID"}}"
                hx-target="#blockTitle"
                hx-target-error="#renameErr"
                hx-vals='js:{val: document.getElementById("titleInput").value, type: "{{index . "Type"}}"}'
            >
                <sl-icon name="floppy2"></sl-icon></sl-button>
            <sl-button onclick="hideShow()">
                <sl-icon name="x"></sl-icon
            ></sl-button>
        </div>
    </div>
</div>

<script>
    function handleAfterRequest(event) {
        if (event.detail.target.id === "blockTitle") {
            hideShow();
        }
    }

    document.addEventListener("toastEvent", function(event) {
        var toast = document.getElementById("toastBox");
        toast.innerText = event.detail.message;
        toast.toast();
    });

    document.addEventListener("htmx:afterRequest", handleAfterRequest);
    function hideShow() {
        const titleContainer = document.getElementById("title-container");
        const inputContainer = document.getElementById("input-container");
        titleContainer.classList.toggle("is-flex");
        inputContainer.classList.toggle("is-flex");
    }
</script>
{{end}}
