<div class="container">
  <div>
    <div class="columns is-mobile has-text-weight-bold">
      <div class="column">Status</div>
      <div class="column">Type</div>
      <div class="column">Created At</div>
      <div class="column">Details</div>
    </div>
    <div style="overflow-y: auto; height: 700px;">
    {{range .events}}
    <div class="columns is-mobile">
      <div class="column">
        {{if .Status}} <sl-badge variant="success">Success</sl-badge> {{else}}
        <sl-badge variant="danger">Fail</sl-badge> {{end}}
      </div>
      <div class="column">{{.EventType}}</div>
      <div class="column">{{.CreatedAt | formatDateTime}}</div>
      <div class="column">
        <sl-button onclick="eventDialog.show()" hx-get="/events/details/{{.ID}}" hx-target="#payload" hx-trigger="click">Show Details</sl-button>
      </div>
      <sl-dialog label="Details" id="eventDetails" class="dialog-overview" style="--width: 50vw;">
        <div id="payload"></div>
        <sl-button slot="footer" variant="primary"  onclick="eventDialog.hide()">Close</sl-button>
      </sl-dialog>
    </div>
    {{end}}
    {{if gt .Page 0}}
        <sl-button hx-get="/events/{{.Type}}/{{.ID}}?page={{dec .Page }}"  hx-target="#eventList" hx-trigger="click">Prev</sl-button>
    {{end}}
    {{if gt (len .events) 0}}
        <sl-button hx-get="/events/{{.Type}}/{{.ID}}?page={{inc .Page }}" hx-target="#eventList" hx-trigger="click">Next</sl-button>
    {{end}}
    </div>
  </div>
</div>

<script>
    eventDialog = document.getElementById('eventDetails');
</script>

