<div class="is-flex is-flex-direction-column">
  <div class="is-flex is-flex-direction-column">
    <div class="columns  has-text-weight-bold" style="margin-bottom: 0.5rem;">
      <div class="column is-2">Status</div>
      <div class="column is-3">Type</div>
      <div class="column is-4">Created At</div>
      <div class="column is-3">Details</div>
    </div>
    <div>
    {{range .events}}
    <div class="columns" style="margin-bottom: 0.5rem;">
      <div class="column is-2">
        {{if .Status}} <sl-badge variant="success">Success</sl-badge> {{else}}
        <sl-badge variant="danger">Fail</sl-badge> {{end}}
      </div>
      <div class="column is-3">{{.EventType}}</div>
      <div class="column is-4">{{.CreatedAt | formatDateTime}}</div>
      <div class="column is-3">
        <sl-button size="small" onclick="eventDialog.show()" hx-get="/events/details/{{.ID}}" hx-target="#payload" hx-trigger="click">Show Details</sl-button>
      </div>
    </div>
    {{end}}
    </div>
    {{if gt (len .events) 0}}
    <sl-divider></sl-divider>
    {{end}}
    <div class="mt-3" style="display: flex; gap: 0.5rem;">
    {{if gt .Page 0}}
        <sl-button size="small" hx-get="/events/{{.Type}}/{{.ID}}?page={{dec .Page }}"  hx-target="#eventList" hx-trigger="click">Prev</sl-button>
    {{end}}
    {{if gt (len .events) 0}}
        <sl-button size="small" hx-get="/events/{{.Type}}/{{.ID}}?page={{inc .Page }}" hx-target="#eventList" hx-trigger="click">Next</sl-button>
    {{end}}
    </div>
  </div>
</div>

<sl-dialog label="Details" id="eventDetails" class="dialog-overview" style="--width: 50vw;">
  <div id="payload"></div>
  <sl-button slot="footer" variant="primary"  onclick="eventDialog.hide()">Close</sl-button>
</sl-dialog>

<script>
    eventDialog = document.getElementById('eventDetails');
</script>

