<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body { font-family: Arial, sans-serif; }
    </style>
  <link
    rel="stylesheet"
    id="light-theme"
    href="/static/css/shoelace.2.16.0.light.css"
  />
  <link
    rel="stylesheet"
    id="dark-theme"
    href="/static/css/shoelace.2.16.0.dark.css"
    onload="document.documentElement.classList.add('sl-theme-dark');"
  >

   <script type="module" src="/static/javascript/shoelace-autoloader.2.16.0.js"></script>
  </head>
  <body hx-ext="response-targets">
    <div>
      <div id="response"></div>
    <div
      class="login-container"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      "
    >
      <sl-card style="width: 300px">
        <h1 slot="header">Login</h1>
        <form id="login-form"
              hx-post="/login"
              hx-include="[name]"
              hx-target="#response"
              hx-target-error="#response">
          <sl-input name="username" label="Username" required></sl-input>
          <sl-input
            name="password"
            type="password"
            label="Password"
            password-toggle
            required
          ></sl-input>
          <sl-button
            type="submit"
            variant="primary"
            style="margin-top: 1rem; width: 100%"
            >Login</sl-button
          >
        </form>
      </sl-card>
    </div>
    </div>
    <script src="/static/javascript/theme.js"></script>
    <script src="/static/javascript/htmx.2.0.1.js"></script>
    <script src="/static/javascript/htmx-response-targets.2.0.0.js"></script>
    <script>
        window.addEventListener('load', function () {
        const savedTheme = localStorage.getItem('theme') || 'light';
        setTheme(savedTheme);
      });
    </script>
  </body>
</html>
