  {{define "navbar.html"}}
  <div id="sidebar">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li><sl-button href="#">Dashboard</sl-button></li>
      <li><sl-button href="#">Customers</sl-button></li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li><sl-button href="#">Team Settings</sl-button></li>
      <li><sl-button href="#">Manage Your Team</sl-button></li>
      <li><sl-button href="#">Invitations</sl-button></li>
      <li><sl-button href="#">Cloud Storage Environment </sl-button></li>
      <li><sl-button href="#">Authentication</sl-button></li>
    </ul>
  </div>

  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('hidden');
    }
  </script>
</html>
{{end}}