  {{define "navbar.html"}}
  <div id="sidebar" class="pt-2">
    <sl-tree>
  <sl-tree-item>
    <a href="/blocks"> Blocks </a>
  </sl-tree-item>

  <sl-tree-item>
    Settings
    <sl-tree-item><a href="/users">Users</a></sl-tree-item>
    <sl-tree-item><a href="/info">Info</a></sl-tree-item>
    <sl-tree-item><a href="/credentials">Credentials</a></sl-tree-item>
  </sl-tree-item>
  <sl-tree-item><div onclick="dialog.show()"> Feedback</div></sl-tree-item>
</sl-tree>
  </div>
<script>
  const dialog = document.getElementById('feedbackDialog');
</script>
</html>
{{end}}