{{define "navbar.html"}}
  <div id="sidebar" class="pt-2 is-flex  is-justify-content-space-between">
    <div>
    <sl-tree>
      <sl-tree-item>
        <a href="/blocks"> Blocks </a>
      </sl-tree-item>

        <sl-tree-item>
    Settings
    {{if eq .currentUser.Role "admin"}}
          <sl-tree-item>
            <a href="/users">Users</a>
          </sl-tree-item>
    {{end}}
          <sl-tree-item>
            <a href="/info">Info</a>
          </sl-tree-item>
          <sl-tree-item>
            <a href="/credentials">Credentials</a>
          </sl-tree-item>
    {{if eq .currentUser.Role "admin"}}
          <sl-tree-item>
            <a href="/terminal-view">Terminal</a>
          </sl-tree-item>
    {{end}}
        </sl-tree-item>
        <sl-tree-item>
          <div onclick="dialog.show()"> Feedback</div>
        </sl-tree-item>
      </sl-tree>
    </div>
    <div>
     <sl-divider style="--width: 1px;"></sl-divider>
    <div class="is-flex m-2 is-flex-direction-column">
       <div class="mb-2">
        <sl-radio-group id="themeSwitch" size="small">
          <sl-radio-button value="light"><sl-icon name="brightness-high"></sl-icon></sl-radio-button>
          <sl-radio-button value="dark"><sl-icon name="moon"></sl-icon></sl-radio-button>
        </sl-radio-group>
       </div>
       <div class="mr-2 is-flex is-flex-direction-row">
        <div class="mr-2">
       <sl-avatar shape="rounded"></sl-avatar>
       </div>
       <div class="is-flex is-flex-direction-column">
       <p>{{.currentUser.Username}}</p>
       <p class="is-size-7">{{if eq .currentUser.Role "admin"}}Administrator{{else}}User{{end}}</p>
       <a href="/logout">Logout</a>
       </div>
       </div>
    </div>
    </div>
  </div>
  <script>
    const dialog = document.getElementById('feedbackDialog');
    const themeSwitch = document.getElementById('themeSwitch');
    themeSwitch.value = localStorage.getItem('theme') || 'light';
  </script>
{{end}}