
{{ define "title" }}{{defaultString .periodicTask.Name "periodicTask"}}{{end }} {{define "content.html"}}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/shell/shell.min.js"></script>

<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: 120px;
  }
</style>

<div>
  {{template "editableTitle" .editableComponentParams }}
</div>

<sl-tab-group>
  <sl-tab slot="nav" panel="editor">Editor</sl-tab>
  <sl-tab slot="nav" panel="settings">Settings</sl-tab>

  <sl-tab-panel name="editor">
    <div id="alertBox"></div>
    <div class="is-flex is-flex-direction-row is-align-items-flex-end m-2">
      <div>
        <sl-input placeholder="{{defaultString .periodicTask.Name ""}}" label="Name" disabled>
        </sl-input>
      </div>
      <sl-button
        class="ml-2"
        variant="primary"
        hx-patch="/periodic_tasks/{{.periodicTask.ID}}"
        hx-include="[name]"
        hx-target="#alertBox"
        hx-vals="js:{editor: getEditorVal()}"
      >
        Save
      </sl-button>
    </div>
    <div class="m-2">
      <textarea id="editor" name="editor">{{ .fileContent }}</textarea>
    </div>
  </sl-tab-panel>
  <sl-tab-panel name="settings">
    <div id="alertBoxSettings"></div>
    <form hx-patch="/periodic_tasks/{{.periodicTask.ID}}" hx-include="[name]" hx-target="#alertBoxSettings">
      <div class="is-flex is-justify-content-space-between">
        <div
          class="is-flex is-flex-direction-row is-align-items-flex-center m-2"
        >
          <div class="ml-2 pt-2 is-align-self-center is-flex">
           <sl-radio-group name="active" value={{.periodicTask.Active}}>
                <sl-radio-button value=false>Disabled</sl-radio-button>
                <sl-radio-button value=true>Enabled</sl-radio-button>
            </sl-radio-group>
          </div>
        </div>

        <div class="ml-10 pt-2 is-align-self-center is-flex">
          <sl-button type="submit" variant="primary">Save</sl-button>
        </div>
      </div>

      <div class="m-2">
        <sl-details summary="Cron">
          <sl-input
            name="cron"
            label="Cron expression"
            value={{defaultString .periodicTask.Cron "*/5 * * * *"}}
          ></sl-input>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Name">
          <sl-input
            name="name"
            value={{defaultString .periodicTask.Name "No name"}}
          ></sl-input>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Description">
          <sl-textarea
            name="description"
            value={{defaultString .periodicTask.Description "No description"}}
          ></sl-textarea>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Environment Variables">
          <sl-textarea
            name="env"
            label="Write environments variable here to make them accessible in script"
            value={{defaultString .periodicTask.EnvVariables "key=value"}}
          ></sl-textarea>
        </sl-details>
      </div>
    </form>
  </sl-tab-panel>
</sl-tab-group>

<script>
  const editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    lineNumbers: true,
    matchBrackets: true,
    autoCloseBrackets: true,
    mode: "shell",
    indentUnit: 2,
    theme: "default",
  });

  function getEditorVal() {
    return editor.getValue();
  }

  const switchElement = document.getElementById("mySwitch");
  switchElement.value = switchElement.checked ? "1" : "0";

  switchElement.addEventListener("sl-change", () => {
    switchElement.value = switchElement.checked ? "1" : "0";
  });

  function handleSubmit(event) {
    event.preventDefault();
    const form = document.querySelector("form");
    const data = new FormData(form);
    form.submit();
  }

  function addRow() {
    const mappingsDiv = document.getElementById("mappings");
    const newRow = document.createElement("div");
    newRow.classList.add("mapping-row");
    newRow.innerHTML = `
        <div class="columns">
        <div class="column">
        <sl-input name="exitCode[]" type="number" label="Exit Code" placeholder="Enter exit code" required></sl-input>
        </div>
        <div class="column">
        <sl-input name="httpResponseCode[]" type="number" label="HTTP Response Code" placeholder="Enter HTTP code" required></sl-input>
        </div>
        </div>
        <div class="is-flex is-justify-content-space-around">
          <sl-button
            type="button"
            variant="danger"
            size="small"
            onclick="deleteRow(this)"
            >-</sl-button
          >
        </div>
      `;
    mappingsDiv.appendChild(newRow);
  }

  function deleteRow(button) {
    // Navigate up the DOM tree to find the parent row
    const row = button.closest(".mapping-row");
    if (row) {
      row.remove();
    }
  }
</script>
{{end}}
