
{{ define "title" }}{{defaultString .periodicTask.Name "periodicTask"}}{{end }} {{define "content.html"}}
<link rel="stylesheet" href="/static/css/codemirror.6.65.7.min.css" />
<link rel="stylesheet" href="/static/css/dracula.min.css">
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/show-hint.6.65.7.css"/>
<script src="/static/javascript/codemirror.6.65.7.js"></script>
<script src="/static/javascript/codemirrorshell.6.65.7.js"></script>
<script src="/static/javascript/show-hint.6.65.7.js"></script>
<script src="/static/javascript/codemirrorlua.6.65.js"></script>

<div class="is-flex is-align-items-baseline">
<sl-icon-button name="arrow-left" label="Block" href="/blocks/{{.periodicTask.BlockID}}"></sl-icon-button>
{{ template "editableTitle" .editableComponentParams }}
</div>

<sl-dialog label="cURL Command Generator" id="curlGenerator" style="--width: 550px;">
    <div>
            <sl-select size="small" label="HTTP Method" id="method" value="GET">
                <sl-option value="GET">GET</sl-option>
                <sl-option value="POST">POST</sl-option>
                <sl-option value="PUT">PUT</sl-option>
                <sl-option value="DELETE">DELETE</sl-option>
                <sl-option value="PATCH">PATCH</sl-option>
            </sl-select>

            <sl-input
              clearable
              size="small"
              type="url"
              label="Request URL"
              id="url"
              sl-change="reportValidity()"
              placeholder="https://example.com/api"></sl-input>

            <sl-select size="small" label="Content-Type" id="content-type">
                <sl-option value="application/json">application/json</sl-option>
                <sl-option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</sl-option>
                <sl-option value="text/plain">text/plain</sl-option>
                <sl-option value="custom">Custom</sl-option>
            </sl-select>

            <sl-input size="small"label="Custom Content-Type" id="custom-content-type" style="display: none;"></sl-input>

            <div id="headers-section">
                <h4 class="mt-2">Headers</h4>
                <div class="is-flex mb-10 header-row" style="gap: 10px;">
                    <sl-input size="small" label="Header Name" class="header-name"></sl-input>
                    <sl-input size="small" label="Header Value" class="header-value"></sl-input>
                    <sl-button size="small" variant="danger" class="pt-5 remove-header">Remove</sl-button>
                </div>

                <div class="mt-2 mb-2">
                    <sl-button size="small" id="add-header" variant="primary">Add Header</sl-button>
                </div>
            </div>

            <sl-textarea size="small" label="Body (for POST/PUT)" id="request-body" rows="4" clearable></sl-textarea>

            <sl-checkbox id="verbose">Verbose</sl-checkbox>
            <sl-checkbox id="insecure">Insecure (skip SSL)</sl-checkbox>

            <sl-input size="small" label="Timeout (seconds)" id="timeout" type="number" min="0"></sl-input>

            <div class="mt-2 mb-2">
              <sl-button size="small" variant="primary" id="generate-curl">Generate cURL</sl-button>
              <sl-button size="small" id="clear-fields">Clear</sl-button>
            </div>


        <div class="is-flex is-align-items-center">
        <div>
        <code id="curl-output">
            //output
        </code>
        </div>
        <div>
        <sl-copy-button from="curl-output.value" class="copy-code-button"></sl-copy-button>
        </div>
        </div>
        </div>
</sl-dialog>

<sl-tab-group>
  <sl-tab slot="nav" panel="editor">Editor</sl-tab>
  <sl-tab slot="nav" panel="settings">Settings</sl-tab>
  <sl-tab slot="nav" panel="eventLogs" hx-get="/events/{{.Type}}/{{.periodicTask.ID}}" hx-target="#eventList" hx-trigger="click">Event Logs</sl-tab>

  <sl-tab-panel name="editor">
    <div id="alertBox"></div>
    <div class="is-flex is-flex-direction-row is-align-items-flex-end m-2 is-justify-content-space-between">
      <div class="is-flex is-flex-direction-row is-align-items-end">
        <sl-input placeholder="{{defaultString .periodicTask.Name ""}}" label="Name" disabled>
        </sl-input>
        <sl-button
          class="ml-2"
          variant="primary"
          hx-patch="/periodic_tasks/{{.periodicTask.ID}}"
          hx-include="[name]"
          hx-target="#alertBox"
          hx-target-error="#alertBox"
          hx-vals="js:{editor: getEditorVal()}"
        >
          Save
        </sl-button>
      </div>
      <div>
      <sl-icon-button name="question-circle"  onclick="codeHelper.show()"></sl-icon-button>
      {{template "cheatsheet.html" }}
      </div>
    </div>

      <div class="is-flex m-2">
      <sl-select id="programType" name="programType" size="small" value={{.programType}}>
       <sl-option value="bash">Bash</sl-option>
       <sl-option value="lua">Lua</sl-option>
     </sl-select>
      {{ if .showCurlGenerator }}
        <div id="curlGeneratorContainer" class="is-flex ml-2">
         <sl-button size="small" onclick="curlGeneratorDialog.show()">cURL Generator</sl-button>
        </div>
      {{end}}
    </div>
    <div class="m-2">
      <textarea id="editor" name="editor">{{ .fileContent }}</textarea>
    </div>
  </sl-tab-panel>
  <sl-tab-panel name="settings">
    <div id="alertBoxSettings"></div>
    <form id="periodicTaskConfig" hx-patch="/periodic_tasks/{{.periodicTask.ID}}" hx-include="#periodicTaskConfig [name]" hx-vals="js:{editor: getEditorVal(), programType: getProgramType()}" hx-target="#alertBoxSettings">
      <div class="is-flex is-justify-content-space-between">
        <div
          class="is-flex is-flex-direction-row is-align-items-flex-center m-2"
        >
          <div class="ml-2 pt-2 is-align-self-center is-flex">
           <sl-radio-group name="active" value={{.periodicTask.Active}}>
                <sl-radio-button value=false>Disabled</sl-radio-button>
                <sl-radio-button value=true>Enabled</sl-radio-button>
            </sl-radio-group>
          </div>
        </div>

        <div class="ml-10 pt-2 is-align-self-center is-flex">
          <sl-button type="submit" id="saveButton" variant="primary">Save</sl-button>
        </div>
      </div>

      <div class="m-2">
        <sl-details summary="Cron">
          <sl-input
            name="cron"
            id="cron"
            label="Cron expression"
            value={{defaultString .periodicTask.Cron "*/5 * * * *"}}
          ></sl-input>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Name">
          <sl-input
            name="name"
            value={{defaultString .periodicTask.Name "No name"}}
          ></sl-input>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Description">
          <sl-textarea
            name="description"
            value={{defaultString .periodicTask.Description "No description"}}
          ></sl-textarea>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Environment Variables">
          <sl-textarea
            name="env"
            label="Write environments variable here to make them accessible in script"
            value={{defaultString .periodicTask.EnvVariables "key=value"}}
          ></sl-textarea>
        </sl-details>
      </div>
    </form>
  </sl-tab-panel>
  <sl-tab-panel name="eventLogs">
    <div id="eventList"></div>
  </sl-tab-panel>
</sl-tab-group>

<script src="/static/javascript/cronstrue.2.50.js" async></script>
<script src="/static/javascript/curlgenerator.js"></script>
<script src="/static/javascript/editorcommon.js"></script>
<script>
  const currentTheme = localStorage.getItem('theme') || 'light';
  const theme = currentTheme == 'dark' ? 'dracula' : 'default';
  const editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    lineNumbers: true,
    matchBrackets: true,
    autoCloseBrackets: true,
    mode: "shell",
    indentUnit: 2,
    theme: theme,
  });

  function getEditorVal() {
    return editor.getValue();
  }

  document.addEventListener("DOMContentLoaded", function() {
    const programType = document.getElementById("programType").value || {{.programType}};
    hideOrShowCurlGenerator(programType);
    setEditorMode(programType);
  });

  document.getElementById("programType").addEventListener("sl-change", changeEditor);

  function customAutocomplete(editor) {
       var cursor = editor.getCursor();
       var token = editor.getTokenAt(cursor);

       var customWords = [{{ range $index, $key := .variables }}'{{$key}}',{{ end }}];

       var filteredWords = customWords.filter(function(word) {
           return word.startsWith(token.string);
       });

       return {
           list: filteredWords.length ? filteredWords : customWords,
           from: CodeMirror.Pos(cursor.line, token.start),
           to: CodeMirror.Pos(cursor.line, token.end)
       };
}

  editor.on("inputRead", function (cm, event) {
    if (!cm.state.completionActive && event.text[0].match(/\w/)) {
        cm.showHint({ hint: customAutocomplete, completeSingle: false });
    }
  });

  function isValidCronExpression(expression) {
           var cronRegex = new RegExp(/^(\*\/\d{1,2}|\d{1,2}|\*)\s(\*|\d{1,2}|\*\/\d{1,2})\s(\*|\*\/\d{1,2}|\d{1,2})\s(\*|\*\/\d{1,2}|\d{1,2})\s(\*|\*\/\d|\d)\s?$/g)
            if (!cronRegex.test(expression)) {
                return false;
            }

            if (expression.trim() === '* * * * *') {
                return false;
            }
            return true;
  }

  const cronInput = document.getElementById("cron");
  const saveButton = document.getElementById("saveButton");
  cronInput.addEventListener('sl-input', function() {
  const cronValue = cronInput.value;
                if (isValidCronExpression(cronValue)) {
                    cronInput.setAttribute('label', cronstrue.toString(cronValue, { verbose: true, use24HourTimeFormat: true }));
                    cronInput.classList.remove('invalid');
                    saveButton.disabled = false;
                } else {
                    cronInput.setAttribute('label', 'Cron expression is invalid');
                    cronInput.classList.add('invalid');
                    saveButton.disabled = true;
                }
  });


</script>
{{end}}
