{{ define "title" }}{{defaultString .webhook.Name "webhook"}}{{end }} {{define "content.html"}}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/shell/shell.min.js"></script>

<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: 120px;
  }
</style>

<div>
  <label>Url Path</label>
  <sl-copy-button from="blockTitle"></sl-copy-button>
  <div class="is-flex is-align-items-baseline">
  <sl-icon-button name="arrow-left" label="Blocks" href="/blocks/{{.webhook.BlockID}}"></sl-icon-button>
  {{ template "editableTitle" .editableComponentParams }}
  </div>
</div>

<sl-tab-group>
  <sl-tab slot="nav" panel="editor">Editor</sl-tab>
  <sl-tab slot="nav" panel="settings">Settings</sl-tab>
  <sl-tab slot="nav" panel="eventLogs" hx-get="/events/{{.Type}}/{{.webhook.ID}}" hx-target="#eventList" hx-trigger="click">Event Logs</sl-tab>

  <sl-tab-panel name="editor">
    <div id="alertBox"></div>
    <div class="is-flex is-flex-direction-row is-align-items-flex-end m-2">
      <div>
        <sl-input placeholder="{{defaultString .webhook.Name ""}}" label="Name" disabled>
        </sl-input>
      </div>
      <sl-button
        class="ml-2"
        variant="primary"
        hx-patch="/webhooks/{{.webhook.ID}}"
        hx-target="#alertBox"
        hx-include="[name]"
        hx-vals="js:{editor: getEditorVal()}"
      >
        Save
      </sl-button>
    </div>
    <div class="m-2">
      <textarea id="editor" name="editor">{{ .fileContent }}</textarea>
    </div>
  </sl-tab-panel>
  <sl-tab-panel name="settings">
    <div id="alertBoxSettings"></div>
    <form hx-patch="/webhooks/{{.webhook.ID}}" hx-include="[name]" hx-target="#alertBoxSettings">
      <div class="is-flex is-justify-content-space-between">
        <div
          class="is-flex is-flex-direction-row is-align-items-flex-center m-2"
        >
          <div>
            <sl-select name="httpVerb" label="HTTP Verb" value={{.webhook.HttpMethod}} required>
              <sl-option value="GET">GET</sl-option>
              <sl-option value="POST">POST</sl-option>
              <sl-option value="PATCH">PATCH</sl-option>
              <sl-option value="DELETE">DELETE</sl-option>
            </sl-select>
          </div>
          <div class="ml-2 pt-5 is-align-self-center is-flex">
            <sl-radio-group name="active" value={{.webhook.Active}}>
                <sl-radio-button value=false>Disabled</sl-radio-button>
                <sl-radio-button value=true>Enabled</sl-radio-button>
            </sl-radio-group>
          </div>
        </div>

        <div class="ml-10 pt-2 is-align-self-center is-flex">
          <sl-button type="submit" variant="primary">Save</sl-button>
        </div>
      </div>

      <div id="mappings" class="is-flex is-flex-direction-column m-2">
        <div class="mapping-row">
          <div class="columns is-align-items-center">
          {{range $exitCode, $httpResponseCode:= .httpExitPair}}
            <div class="column">
              <sl-input
                name="exitCode[]"
                type="number"
                label="Exit Code"
                value={{$exitCode}}
                placeholder="Enter exit code"
                required
              ></sl-input>
            </div>
            <div class="column">
              <sl-input
                name="httpResponseCode[]"
                type="number"
                value={{$httpResponseCode}}
                label="HTTP Response Code"
                placeholder="Enter HTTP code"
                required
              ></sl-input>
            </div>
          {{end}}
            <div class="column mt-5">
              <sl-button
                type="button"
                variant="primary"
                size="small"
                onclick="addRow()"
                >+</sl-button
              >
            </div>
          </div>
        </div>
      </div>

      <div class="m-2">
        <sl-details summary="Response Headers">
          <sl-textarea
            name="responseHeaders"
            value={{defaultString .webhook.ResponseHeaders "&nbsp;"}}
          ></sl-textarea>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Name">
          <sl-input
            name="name"
            value={{defaultString .webhook.Name "No name"}}
          ></sl-input>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Description">
          <sl-textarea
            name="description"
            value={{defaultString .webhook.Description "No description"}}
          ></sl-textarea>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Environment Variables">
          <sl-textarea
            name="env"
            label="Write environments variable here to make them accessible in script"
            value={{defaultString .webhook.EnvVariables "key=value"}}
          ></sl-textarea>
        </sl-details>
      </div>

      <div class="m-2">
        <sl-details summary="Cross Origin Resource Sharing (CORS)">
          <sl-textarea
            name="cors"
            label="A list of origins to allow browser-based requests"
            value={{defaultString .webhook.Cors "*"}}
          ></sl-textarea>
        </sl-details>
      </div>
    </form>
  </sl-tab-panel>
  <sl-tab-panel name="eventLogs">
    <div id="eventList"></div>
  </sl-tab-panel>
</sl-tab-group>

<script>
  const editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    lineNumbers: true,
    matchBrackets: true,
    autoCloseBrackets: true,
    mode: "shell",
    indentUnit: 2,
    theme: "default",
  });

  function getEditorVal() {
    return editor.getValue();
  }

  function handleSubmit(event) {
    event.preventDefault();
    const form = document.querySelector("form");
    const data = new FormData(form);
    form.submit();
  }

  function addRow() {
    const mappingsDiv = document.getElementById("mappings");
    const newRow = document.createElement("div");
    newRow.classList.add("mapping-row");
    newRow.innerHTML = `
        <div class="columns">
        <div class="column">
        <sl-input name="exitCode[]" type="number" label="Exit Code" placeholder="Enter exit code" required></sl-input>
        </div>
        <div class="column">
        <sl-input name="httpResponseCode[]" type="number" label="HTTP Response Code" placeholder="Enter HTTP code" required></sl-input>
        </div>
        </div>
        <div class="is-flex is-justify-content-space-around">
          <sl-button
            type="button"
            variant="danger"
            size="small"
            onclick="deleteRow(this)"
            >-</sl-button
          >
        </div>
      `;
    mappingsDiv.appendChild(newRow);
  }

  function deleteRow(button) {
    // Navigate up the DOM tree to find the parent row
    const row = button.closest(".mapping-row");
    if (row) {
      row.remove();
    }
  }
</script>
{{end}}
