 html, body {
  height: 100%;
  min-height: 0;
}

 body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
 }

#contentId {
  width: 100%;
  display: flex ;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  min-height: 0;
  overflow: scroll;
}

#eventList {
   display: flex;
   flex-direction: column;
   height: 80%;
 }

sl-tab-panel::part(base):active {
  display: flex !important;
  flex-direction: column;
}

/* Also target non-active state if needed */
sl-tab-panel::part(base) {
  display: flex !important;
  flex-direction: column;
}



.cm-editor {
  height: calc(65vh);
  max-height: 80vh;
  overflow: auto;
}

.cm-editor .cm-cursor {
  display: block !important;
  border-left-width: 2px !important;
  border-left-color: #111 !important; /* adjust for light theme */
}

.sl-theme-dark .cm-editor .cm-cursor {
  border-left-color: #fff !important; /* adjust for dark theme */
}

.cm-editor .cm-content {
  caret-color: #111 !important;
}
.sl-theme-dark .cm-editor .cm-content {
  caret-color: #fff !important;
}

.cm-editor .cm-cursorLayer {
  z-index: 1;
}

 #sidebar {
     width: 200px;
     background-color: #f8f9fa;
     box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
     display: flex;
     flex-direction: column;
     overflow-y: auto;
     transition: transform 0.3s ease;
     transform: translateX(0);
 }

 /* Light theme */
[data-theme="light"] #sidebar {
    background-color: #f8f9fa;
    /* Light mode background color */
}

/* Dark theme */
[data-theme="dark"] #sidebar {
    background-color: #343a40;
    /* Dark mode background color */
}